body {
    margin: 0;
    display: grid;
    grid-template-rows: 15vh 5vh 80vh;
}

header {
    background-color: #4F2C80;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
}

header > div {
    display: flex;
    align-items: center;
}

.logo {
    letter-spacing: 10px;
    font-family: 'Josefin Sans';
}

.logo > a{
    text-decoration: none;
    color: #F2EFE9;
}

.wario {
    grid-column: 2;
    grid-row: 1;
}

nav {
    background-color: #E57C4A;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans';
    color: #F2EFE9;
    font-size: 100%;
    letter-spacing: 4px;
}

nav > a {
    margin: 0 10px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    height: 100%;
}

main {
    background-color: white;
    height: 80vh;
    display: flex;
    justify-content: center;
}

.painel {
    background-color: transparent;
    border: 0px;
    width: 100px;
    height: 70%;
}

.painel > i {
    font-size: 50px;
    color:#F2EFE9;
}

.painel > i:hover {
    color: #E57C4A;
}

nav > a:hover {
    background-color: #4F2C80;
    padding: 0px 10px;
}

.feira {
    width: 70%;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.feiraLogo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.feiraLogo > p {
    margin: 0;
    font-size: 30px;
    font-weight: lighter;
    font-family: 'Khand';
    letter-spacing: 1px;
}

.projetos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
}

.projeto {
    width: 80%;
    margin-bottom: 7%;
    border: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.projeto:hover {
    background-color: black;
    color: white;
}

.sala {
    font-size: 15px;
    font-family: 'Josefin Sans';
}
